@import "mixins";

.container {
  margin: 5rem 0rem;
  padding: 0 0rem 0 12rem;
  @include small-screen {
    padding: 0 4rem 0 4rem;
  }
  h1 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 35px;
    font-style: normal;
    font-weight: 400;
    // width: 90%;
    @include small-screen {
      font-size: 2rem;
      line-height: 30px;
      width: 100%;
    }
  }
  .bookContain {
    margin: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @include small-screen {
      flex-direction: column;
      align-items: center;
      //   margin: 0;
    }
    .book {
      display: flex;
      justify-content: space-between;
      align-items: center;
      div {
        margin-right: 3rem;
        display: block;
        width: 25rem;
        // height: 300px;
        @include small-screen {
          margin-right: 1rem;
          width: 100px;
          // height: 150px;
        }
      }
    }
    .pod {
      margin-left: 3rem;
      width: 6rem;
      display: block;
      cursor: 'pointer';
      // height: 6rem;
      @include small-screen {
        margin-left: 0;
        margin-top: 6rem;
        margin-bottom: 6rem;
      }
    }
  }
  .contact {
    margin: 10rem 0;
    text-align: center;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 136.1%;
    scroll-margin-top: 25rem;
    button {
      margin-top: 3rem;
      background-color: black;
      border: none;
      cursor: pointer;
    }
  }
}
