.container {
  background-color: #0f1000;
  width: 100vw;
  height: 100vh;
  font-family: "Italiana";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 900;
  overflow-y: hidden;
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 7rem 3rem;
    // height: 15vh;
  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
    a {
      text-decoration: none;
      color: var(--primary-text-color);
      // padding-top: 15rem;
    }
  }
}
