@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #FAFAF9;
    color: #0A0A0A;
    font-family: 'Space Grotesk', sans-serif;
  }

  * {
    box-sizing: border-box;
  }
}
