@import "mixins";

:root {
  --primary-color: #000000; // background color
  --primary-text-color: #ffffff; // main text color
  --secondary-text-color: #d9d9d9; // secondary text color
  --green-color: #98fb4a; // green color
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--primary-color);
  background-image: url("../public/BackgroundWeb.svg");

  @include small-screen {
    background-image: url("../public/mobile-background.svg");
  }
}
body {
  color: var(--primary-text-color);
  line-height: 1.5;
  font-size: 2rem;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

  @include medium-screen {
    font-size: 50%;
  }
  @include small-screen {
    font-size: 40%;
  }
}
