@import "mixins";
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  font-size: 1.8rem;
  padding: 2rem 10rem 2rem 6rem;

  @include small-screen {
    padding: 7rem 3rem;
  }

  .navLinks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    a {
      text-decoration: none;
      color: #6f6f6f;
      padding-left: 6rem;
      line-height: 22.97px;
    }
    a:hover {
      color: var(--green-color);
    }
    .music:hover {
      stroke: #98fb4a;
    }


    @include small-screen {
      display: none;
    }
  }
  .toggler {
    display: none;
    @include small-screen {
      display: block;
      width: 30px;
      height: 30px;
    }
  }
}

#music:hover {
  stroke: #98fb4a;
}
