@import "mixins";

.container {
  margin-top: 10rem;
  width: 100%;
  padding: 0 12rem 0 12rem;
  @include small-screen {
    padding: 0 4rem 0 4rem;
  }

  .subhead {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
  }

  .border {
    width: 100%;
    height: 0;
    // background-color: #393939;
    margin-bottom: 5rem;
    border: 0.5px solid #393939;
  }
  .projects {
    .left {
      display: flex;
      width: 95%;
    }
    .oneProject {
      display: flex;
      align-items: start;
      justify-content: space-between;
      margin-bottom: 4rem;
      @include small-screen {
        justify-content: center;
      }
      .number {
        font-size: 3rem;
        margin-right: 1.5rem;
        margin-top: 1rem;
        @include small-screen {
          font-size: 2rem;
          margin-top: 2.5rem;
        }
      }
      .about {
        .name {
          font-family: "Italiana";
          font-style: normal;
          font-weight: 400;
          font-size: 9rem;
          line-height: 10.6rem;
          @include small-screen {
            font-size: 5rem;
          }
        }
        .text {
          font-size: 1.8rem;
          line-height: 30px;
          color: #d9d9d9;
          margin: 1rem 0 3rem 0;
          @include small-screen {
            line-height: 25px;
          }
        }
        .roles {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 70%;
          color: #d9d9d9;
          font-size: 1.4rem;
          @include small-screen {
            width: 100%;
            font-size: 1rem;
          }
          a {
            text-decoration: none;
            color: var(--green-color);
          }
          .green {
            color: var(--green-color);
            margin-right: 2rem;
            font-size: 2rem;
            // line-height: 30px;
            @include small-screen {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}

.plus {
  cursor: pointer;
  padding-top: 3rem;
  width: 7rem;
  height: 7rem;
  @include small-screen {
    width: 3rem;
    height: 3rem;
  }
}
